---
import Thumbnail from "../thumbnail.astro";
const { title, description, pubDate, image, url } = Astro.props;

interface Props {
  title: string;
  description: string;
  pubDate: string;
  image: {
    src: string;
    internal: boolean;
  };
  url: string | undefined;
}
---

<article>
  <figure>
    <Thumbnail
      imgPath={image.src}
      internal={image.internal}
      alt={title}
      loading="lazy"
    />
    <figcaption class="group mx-2 mt-4 flex items-center justify-between">
      <a class="hidden font-bold group-hover:inline-block" href={url}>{title}</a
      >
      <h3 class="group-hover:hidden">{title}</h3>
      <time
        class="text-xs text-neutral-800 dark:text-neutral-400"
        datetime={pubDate}>{pubDate}</time
      >
    </figcaption>
  </figure>
  <p class="mx-2 line-clamp-2 text-sm!">
    {description}
  </p>
</article>
