---
import Image from "astro/components/Image.astro";
const { imgPath, alt, loading, internal } = Astro.props;

interface Props {
  imgPath: string;
  alt: string;
  loading: "lazy" | "eager" | null;
  internal: boolean;
}

const fetchImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/thumbnails/*.webp"
);
---

<div
  class="aspect-[16/4] w-full overflow-hidden rounded-lg border border-neutral-200 dark:border-neutral-700"
>
  {
    internal && fetchImages[imgPath] ? (
      <Image
        class="h-full object-cover object-center"
        src={fetchImages[imgPath]!()}
        loading={loading}
        alt={alt}
        height="960"
        width="1280"
      />
    ) : (
      // "image not found"
      <Image
        class="h-full object-cover object-center"
        src={imgPath}
        loading={loading}
        alt={alt}
        height="960"
        width="1280"
      />
    )
  }
</div>
