---
const { frontmatter } = Astro.props;
import dayjs from "dayjs";
import MainLayout from "./mainLayout.astro";
import Thumbnail from "../components/thumbnail.astro";
import Column from "./column.astro";
import Arrow from "../components/icons/arrow.astro";
import Html from "./html.astro";
import type { MetaTagProps } from "../type/metaTypes";

const metaTags: MetaTagProps = {
  title: frontmatter.title,
  description: frontmatter.description,
  image: frontmatter.image,
  url: Astro.url,
};
---

<Html title={frontmatter.title} forPost={true} metaTags={metaTags}>
  <MainLayout paddingTop={true} wrapsBlogPost={true} pageType="">
    <nav class="relative hidden justify-self-end lg:block">
      <div class="sticky top-20"></div>
    </nav>
    <Column wrapsBlogPost="true">
      <a
        href={`${import.meta.env.BASE_URL}/posts`}
        class="flex w-fit items-center gap-x-1 rounded-sm border border-neutral-900/15 px-4 py-1.5 text-sm hover:bg-neutral-800/5 hover:text-neutral-800 hover:no-underline dark:border-neutral-400/20 dark:hover:bg-neutral-400/5 dark:hover:text-neutral-100"
      >
        <Arrow />
        Back to Posts
      </a>
      <main class="border-bottom mt-10">
        <header class="mb-10">
          <Thumbnail
            loading="eager"
            alt={frontmatter.title}
            internal={frontmatter.image.internal}
            imgPath={frontmatter.image.src}
          />
          <div class="mt-5">
            <time
              class="text-xs text-neutral-800 dark:text-neutral-400"
              datetime={frontmatter.pubDate}
              >{dayjs(frontmatter.pubDate).format("MMMM D, YYYY")}</time
            >

            <h1 class="text-3xl">{frontmatter.title}</h1>
          </div>
        </header>
        <article
          class="select-blockquote underline-offset-3 leading-relaxed prose-headings:mb-2 prose-h2:text-lg prose-p:mb-7 prose-a:text-accent-light prose-a:underline prose-a:hover:text-neutral-900 prose-a:focus-visible:text-neutral-900 prose-ol:mb-7 prose-ol:list-inside prose-ol:list-decimal prose-ul:mb-7 prose-ul:list-inside prose-ul:list-disc dark:prose-a:text-accent-dark dark:prose-a:hover:text-neutral-200 dark:prose-a:focus-visible:text-neutral-200"
        >
          <p>{frontmatter.description}</p>
          <slot />
        </article>
      </main>
    </Column>
    <aside class="hidden justify-self-start lg:block"></aside>
  </MainLayout>
</Html>
